<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <app-persona></app-persona>

      <br>
      <label>Título persona (usando binding)</label>
      <input type="text" class="form-control" (input)="modificarTitulo($event)">
      {{titulo}}
      <br>

      <br>
      <label>Título persona (usando Two way binding)</label>
      <input type="text" class="form-control" [(ngModel)]="titulo2">
      {{titulo2}}
      <br>

      <br>
      <button class="btn btn-primary"
             [disabled]="deshabilitar"
             (click)="agregarPersona()">Agregar persona</button> <!-- desabilitar dinámicamente en personas.ts-->
      <p *ngIf="mostrar; else sinPersona">{{ mensaje }} con el título de {{titulo2}}</p>
      <ng-template #sinPersona>
        <p>No se ha agregado ninguna persona.</p>
      </ng-template>
    </div>
  </div>
</div>



